<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Coding: vue-directives</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- <img v-bind:src="imgPath">
        <img :src="imgPath"> -->
        <!-- <a :href="url">Wikipedia</a> -->

        <!-- <p>{{description }}</p>
        <p v-html="description"></p> -->

        <!-- <div>
            <p v-cloak v-for="i in 33333">{{ i }}</p>
        </div> -->

        <!-- <p>Oggi
            <span v-if="weather === 'sunny'">è soleggiato.</span>
            <span v-else-if="weather === 'cloudy'">è nuvoloso.</span>
            <span v-else>è piovoso.</span>
        </p> -->

        <!-- <p v-if=" 5 > 3 ">Ciao a tutti.</p> -->


        <!-- Il contenuto alternativo -->
        <!-- <div v-if="loading">Sto caricando...</div> -->
        <!-- Il contenuto vero e proprio -->
       <!--  <div v-else>Vue ha terminato la compilazione.</div> -->

        <!-- Oggi <span v-show="weather === 'sunny'">è soleggiato.</span> -->

        <!-- <ul>
            <li v-for="person in array" :key="person.id">
                Name: {{ person.name }},
                age: {{ person.age }}
            </li>
        </ul> -->
        <!-- <ul>
            <li v-for="(person, index) in array" :key="person.id">
                {{ index }}. Name: {{ person.name }}, age: {{ person.age }}
            </li>
        </ul> -->

        <!-- <div>
            <p>{{ compiled }}</p>
            <div v-pre>
                <p>{{ notCompiled }}</p>
                <div v-if="true">Questo non verrà renderizzato</div>
                <p v-for="i in 10">{{ i }}</p>
            </div>
        </div> -->

        <!-- <div v-once>{{ message }}</div> -->

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
</body>

</html>